.cell {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: transparent;
}

.cell * {
    cursor: pointer;
}

@keyframes aparicionMark {
    from {font-size: 0%;}
    to {font-size: 200%;}
}

.cell-mark-0 {
    font-size: 0%;
}

.cell-mark-1 {
    font-size: 200%;
    animation-name: aparicionMark;
    animation-duration: 0.5s;
}

@keyframes aparicionWin {
    from {background-color: transparent;}
    to {background-color: var(--bs-success);}
}

.cell-win {
    background-color: var(--bs-success);
    animation-name: aparicionWin;
    animation-duration: 0.5s;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
  
.blinking {
    animation: blink 1s infinite;
}
