<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo WS</title>

    <%- include('estilos') %>
</head>

<body data-bs-theme="dark">
    <div class="container">
        <%- include('header') %>

        Visitas: <%= vcount %>
    </div>

    <%- include('scripts') %>
</body>

</html>