<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket Tateti</title>

    <%- include('parts/estilos') %>
</head>

<body data-bs-theme="dark">
    <%- include('parts/header') %>

    <div class="container">
        <%- include('pairing/pairing') %>
    </div>

    <%- include('parts/scripts') %>
    <script src="/app/pairing/index.js"></script>
</body>

</html>