<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket Tateti</title>

    <%- include('parte/estilos') %>
</head>

<body data-bs-theme="dark">
    <div class="container">
        <%- include('parte/header') %>

        Visitas: <%= vcount %>
    </div>

    <%- include('parte/scripts') %>
</body>

</html>